<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <img class="image image-full" ng-src="assets/event.png" alt="Event Image">
    </div>
    <div class="col-md-8">
      <h4 class="media-heading">Constipation <span class="label label-default">Pathology</span></h4>
      <p>You can only play the lowest dice for rations in the intestine.</p>
      <p>This card stays on the board until it is replaced by another pathology or removed by a special card.</p>
      <p><span class="label label-danger">-1 to Welfare</span></p>
    </div>
  </div>
</div>

<div class="bar bar-bottom bar-light">
  <button class="btn btn-success pull-right">Ok, move to Cards Phase</button>
</div>
