<div class="event">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <img class="image image-full" ng-src="images/{{round.event.image}}" alt="Event Image">
      </div>
      <div class="col-md-8">
        <h4 class="media-heading">{{round.event.title}} <span class="label label-default">{{round.event.type}}</span></h4>
        <div ng-bind-html="round.event.description"></div>
      </div>
    </div>
  </div>
  <div ng-if="phase == 1" class="bar bar-bottom bar-light">
    <button class="btn btn-success pull-right" ng-click="endPhase()">Ok, move to Cards Phase</button>
  </div>
</div>
