.main-page {
  position:fixed;
  top:50px;
  bottom:50px;
  left:0px;
  width:70%;

  padding: 10px;
}

#game-board {
  background-image: url('../images/game-board.png');
  position:fixed;
  width: 3000px;
  height: 2000px;
  right: -200px;
  top: -1000px;
}

.side-bar {
  position:fixed;
  top:55px;
  bottom:55px;
  right:5px;
  width:30%;
  overflow-y: scroll;

  background-color: #222222;
  color: #999;
  padding: 10px;
  padding-top: 0px;
}

.side-bar .h3 {
  margin-top: -10px;
}

.cow-icon {
  width: 50px;
  margin-top: -15px;
}
