<div ng-controller="GameCtrl" id="section-main">
  <div ng-controller="MenuCtrl" class="bar bar-dark bar-top">
    <div class="pull-left">
      <img class="cow-icon" alt="Happy Cow icon" src="images/happycow.png" />
    </div>
    <ul id="menu-right" class="list-inline pull-left">
      <li>
        <button popup class="btn btn-default">Menu</button>
        <div class="hidden">
          <div class="btn-group btn-group-vertical">
            <a href="#/games" class="btn btn-primary btn-sm">Game Menu</a>
            <button ng-click="user.logout()" class="btn btn-warning btn-sm">Log Out</button>
          </div>
        </div>
      </li>
      <li ng-controller="ScoreViewCtrl">
        <button popup class="btn btn-default">Score <span class="badge">{{$storage.user.game_user.score}}</span></button>
        <div class="hidden">
            <ul class="list-group">
              <li ng-repeat="game_user in game.game_users | orderBy:score" class="list-group-item">
                <span class="label label-default player-{{game_user.id}}">{{game_user.user.name}}</span>
                <span class="badge">{{game_user.score}}</span>
              </li>
            </ul>
        </div>
      </li>
      <li>{{game.name}}</li>
    </ul>
    <ul class="list-inline pull-right" style="margin-top: 5px;">
      <li ng-controller="RoundViewCtrl">
        <button popup class="btn btn-default">
          Round <span class="badge">{{game.round.number}}</span>
        </button>
        <div class="hidden">
          <ul class="list-group">
            <li ng-repeat="round in rounds | orderBy:number" class="list-group-item">
              Round {{round.number}}
              <button ng-if="!round.current" class="btn btn-default btn-xs">Review</button>
              <span ng-if="round.current" class="label label-success">current</span>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="btn-group">
          <a ng-click="changePhaseTemplate(1)" class="btn btn-{{game.round.current_phase == 1? 'info' : 'default'}}">Event</a>
          <a ng-click="changePhaseTemplate(2)" class="btn btn-{{game.round.current_phase == 2? 'info' : 'default'}}">
            Cards <span class="badge">{{user.countCards()}}</span>
          </a>
          <a ng-click="changePhaseTemplate(3)" class="btn btn-{{game.round.current_phase == 3? 'info' : 'default'}}">Movement</a>
          <a ng-click="changePhaseTemplate(4)" class="btn btn-{{game.round.current_phase == 4? 'info' : 'default'}}">Review</a>
        </div>
      </li>

      <li ng-controller="PlayerViewCtrl">
        <button popup class="btn btn-default">
          Player <span class="label label-default player-{{game.round.game_user.id}}">{{game.round.game_user.user.name}}</span>
        </button>
        <div class="hidden">
          <ul class="list-group">
            <li ng-repeat="game_user in game.game_users | orderBy:id" class="list-group-item">
              <span class="label label-{{game_user.active ? 'success' : 'default'}} label-xs">
                {{game_user.id}}
              </span> - <span class="label player-{{game_user.id}}">{{game_user.user.name}}</span>
            </li>
          </ul>
          <p ng-if="nextPlayer">
            In the next round <span class="label player-{{nextPlayer.id}}">{{nextPlayer.user.name}}</span>
            will start.
          </p>
        </div>
      </li>
    </ul><!--/.nav-collapse -->
  </div>

  <div ng-controller="PhaseCtrl" id="center-area">
    <div ng-include="phaseTemplate"></div>
  </div>

</div><!-- /.end of section-main -->

<div ng-controller="CowCtrl" id="section-info" class="container">
  <h3>Cow Condition</h3>

  <div ng-controller="CowStatsCtrl" class="container-fluid">
    <div ng-repeat="stat in stats" class="row">
      <div class="col-md-4">
        <p>{{stat.name}} <span class="glyphicon glyphicon-info-sign clickable"></span></p>
      </div>
      <div class="col-md-8">
        <span class="label label-{{stat.minType}} cow-pl cow-pl-low">{{stat.min}}</span>
        <div class="progress cow-progress" style="width: 70%">
          <div class="progress-bar" role="progressbar"
                aria-valuemin="{{stat.min}}" aria-valuemax="{{stat.max}}"
                style="background-color: #{{stat.type()}};
                width: {{((stat.value-stat.min)/(stat.max-stat.min)) * 100}}%;">
                {{stat.value}}
          </div>
        </div>
        <span class="label label-{{stat.maxType}} cow-pl cow-pl-high">{{stat.max}}</span>
      </div>
    </div>
  </div>

  <h5>Ingredients Values</h5>
  <table ng-controller="IngredientValueCtrl" class="table table-condensed">
    <thead>
      <tr>
        <th>Resource</th>
        <th ng-repeat="ing_cat in game.ingredient_cats" class="{{ing_cat.name}}">{{ing_cat.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Milk</td>
        <td ng-repeat="ing_cat in game.ingredient_cats" class="{{ing_cat.name}}">{{ing_cat.milk_score}} pts</td>
      </td>
      <tr>
        <td>Meat</td>
        <td ng-repeat="ing_cat in game.ingredient_cats" class="{{ing_cat.name}}">{{ing_cat.meat_score}} pts</td>
      </td>
      <tr>
        <td>Muck</td>
        <td ng-repeat="ing_cat in game.ingredient_cats" class="{{ing_cat.name}}">{{ing_cat.muck_score}} pts</td>
      </td>
    </tbody>
  </table>

  <div ng-controller="CowEventsCtrl" class="panel panel-default">
      <div class="panel-body">
        <tabset justified="true">
          <tab heading="Weather">
            <div ng-if="weather">
              <h3>{{weather.title}}</h3>
              <img class="image image-full" ng-src="images/{{weather.image}}">
              <div ng-bind-html="weather.description"></div>
            </div>
          </tab>
          <tab heading="Disease">
            <div ng-if="disease">
              <h3>{{disease.title}}</h3>
              <img class="image image-full" ng-src="images/{{disease.image}}">
              <div ng-bind-html="disease.description"></div>
            </div>
          </tab>
          <tab heading="Pregnancy">
            <div ng-if="pregnancy">
              <h3>{{pregnancy.title}}</h3>
              <img class="image image-full" ng-src="images/{{pregnancy.image}}">
              <div ng-bind-html="pregnancy.description"></div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
</div>
