<div class="bar bar-dark bar-top">
  <div class="pull-left">
    <img class="cow-icon pull-left" alt="Happy Cow icon" src="images/happycow.png" />
    <h2 class="title pull-left">My Games</h2>
    {{debug()}}
  </div>

  <ul class="list-inline pull-right">
    <li><a href="#/profile" class="btn btn-default">Profile</a></li>
    <li><button ng-click="user.logout()" class="btn btn-warning">Logout</button></li>
  </ul>
</div>

<div id="games" ng-controller="GamesCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6"><h3>Games List</h3></div>
      <div class="col-md-6">
        <div class="btn-group pull-right">
          <button ng-click="newGame()" class="btn btn-success">New Game</button>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-7">
        <table class="table">
          <tr>
            <th>Name</th><th>Score</th><th>Stage</th>
            <th>Players</th><th>Round</th><th>Phase</th><th>Turn</th>
          </tr>
          <tr ng-repeat="game_user in game_users.$object | orderBy:'-game.start_time'" class="clickable" ng-click="selectGame(game_user)">
            <td>{{game_user.game.name}}</td>
            <td>{{game_user.score}}</td>
            <td>
              <span ng-if="game_user.game.stage < 1" class="label label-warning">Setup</span>
              <span ng-if="game_user.game.stage == 1" class="label label-success">Playing</span>
              <span ng-if="game_user.game.stage > 1 " class="label label-info">Finished</span>
            </td>
            <td>{{game_user.game.game_users.length}}</td>
            <td>{{game_user.game.round.number}}</td>
            <td>{{translatePhase(game_user.game.round.current_phase)}}</td>
            <td>
                <span class="label" style="background-color: #{{game_user.game.round.game_user.colour}}">
                  {{game_user.game.round.game_user.user.name}}
                </span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-5">
        <div ng-if="game" class="well game-review">
          <h3>{{game.name}} Details</h3>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <dl>
                  <dt>Begin Time</dt><dd>{{game.start_time | date:'d MMM yyyy @ h:mma'}}</dd>
                  <dt>Round Number</dt><dd>{{game.rounds.length}}</dd>
                  <dt>Current Round</dt><dd>{{game.round.number}}</dd>
                  <dt>Current Phase</dt><dd>{{translatePhase(game.round.current_phase)}}</dd>
                  <dt>Current Player</dt><dd>{{game.round.game_user.user.name}}</dd>
                </dl>
              </div>
              <div class="col-md-6">
                <h4>Players</h4>
                <ul class="dl-horizontal">
                  <li ng-repeat="game_user in game.game_users">
                    <span class="label label-default player-{{game_user.id}}">{{game_user.user.name}}</span>
                     - Score <span class="badge">{{game_user.score}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><button class="btn btn-default">Stats</button></div>
              <div class="col-md-8">
                <div ng-if="game.stage == 0" class="btn-group pull-right">
                  <button ng-if="user.isCreator(game)" ng-click="abandon(game.id)" class="btn btn-warning">Abandon</button>
                  <a ng-href="#/games/new/{{game.id}}" class="btn btn-success">
                    {{user.isCreator(game)? 'Finish' : 'View'}} Setup
                  </a>
                </div>
                <div ng-if="game.stage == 1" class="btn-group pull-right">
                  <button ng-click="leave()" class="btn btn-warning">Leave</button>
                  <a ng-href="#/games/play/{{game.id}}" class="btn btn-primary">Resume</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        Total: <span class="badge">{{game_users.$object.length}}</span> |
        Playing: <span class="badge">{{countPlaying()}}</span> |
        Finished: <span class="badge">{{countFinished()}}</span>
      </div>
    </div>
  </div>
</div>
