<div class="bar bar-dark bar-top">
  <div class="pull-left">
    <img class="cow-icon pull-left" alt="Happy Cow icon" src="images/happycow.png" />
    <h2 class="title pull-left">Game Setup</h2>
  </div>

  <ul class="list-inline pull-right">
    <li><a href="#/games" class="btn btn-default">Game List</a></li>
    <li><a href="#/profile" class="btn btn-default">Profile</a></li>
    <li><button ng-click="user.logout()" class="btn btn-warning">Logout</button></li>
  </ul>
</div>

<div id="games" ng-controller="GameSetupCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form>
          <h3 ng-if="setup()">
            <input ng-model="game.name" ng-keyup="saveName(game.name)" placeHolder="Game Name"/>
          </h3>
          <h3 ng-if="!setup()"><span class="small">Name: </span>{{game.name}}</h3>
        </form>
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <h4>Players</h4>
        <table class="table">
          <tr><th>Name</th><th>Experience</th><th>Colour</th>
            <th>Present <a popup class="glyphicon glyphicon-info-sign"></a>
              <div class="hidden">
                <p>'Present' means a player will sit by the creator of the game to play, at the same machine.</p>
                <img class="image image-full" ng-src="images/crowd_game.png">
              </div>
            </th>
            <th>Distant <a popup class="glyphicon glyphicon-info-sign"></a>
              <div class="hidden">
                <p>'Distant' means the game will wait for a player elswhere, on another machine, to take their turn.</p>
                <img class="image image-full" ng-src="images/network_game.png">
              </div>
            </th>
            <th>Logged In</th>
          </tr>
          <tr ng-repeat="game_user in game.game_users">
            <td>{{game_user.user.name}}</td>
            <td>{{game_user.user.experience}}</td>
            <td><span class="label label-default" style="background-color: {{game_user.colour}};">sample</span></td>
            <td>
              <span ng-if="!game_user.network" class="glyphicon glyphicon-ok"></span>
              <button ng-if="user.isCreator(game) && !game_user.network && game_user.user_id != $storage.user.id" ng-click="setNetwork(game_user, true)" class="btn btn-info btn-xs">Make Distant</button>
            </td>
            <td>
              <span ng-if="game_user.network" class="glyphicon glyphicon-ok"></span>
              <button ng-if="user.isCreator(game) && game_user.network && game_user.user_id != $storage.user.id" ng-click="setNetwork(game_user, false)" class="btn btn-info btn-xs">Make Present</button>
            </td>
            <td>
              <button ng-if="!game_user.network && !auth_games.loggedIn(game.id, game_user.user_id) && game_user.user_id != $storage.user.id"
                      ng-click="login(game_user)" class="btn btn-primary btn-xs">Log In</button>
              <button ng-if="!game_user.network && auth_games.loggedIn(game.id, game_user.user_id) && game_user.user_id != $storage.user.id"
                      ng-click="logout(game_user)" class="btn btn-warning btn-xs">Log Out</button>
            </td>
          </tr>
        </table>
        <div ng-if="setup()">
          <script type="text/ng-template" id="inviteTemplate.html">
            <p>
              <span class="label" style="background-color: {{match.model.colour}};">{{match.model.name}}</span>
               - experience: <span class="badge">{{match.model.experience}}</span>
            </p>
          </script>
          <input type="text" ng-model="newUser" placeholder="Search for players to invite"
                typeahead="name as user.name for user in availableUsers() | filter:{name:$viewValue}"
                typeahead-template-url="inviteTemplate.html"
                typeahead-on-select="selectUser($item, $model, $label)" class="form-control">
          <div ng-if="selectedUser" class="panel panel-default">
            <div class="panel-body">
              <span class="label" style="background-color: {{selectedUser.colour}};">{{selectedUser.name}}</span>
                 ({{selectedUser.email}}) - experience: <span class="badge">{{selectedUser.experience}}</span>
              <div class="btn-group pull-right">
                  <button ng-click="inviteUser(selectedUser)" class="btn btn-primary">Invite</button>
                  <button ng-click="unselectUser()" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </div>
          <div style="padding-top:10px;">
            or <button ng-click="createUser()" class="btn btn-success">Create a player</button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div ng-if="game">
          <h4>Card Deck</h4>
          <hr />
          <div class="row">
            <div class="col-md-8">{{game.carddeck.name}} - rating: {{game.carddeck.rating}}</div>
            <div class="col-md-4">
              <div class="pull-right">
                <button ng-if="setup()" data-toggle="modal" data-target="#deck-modal" class="btn btn-default">Change</button>
              </div>
            </div>
          </div>

          <h4>Rounds</h4>
          <hr />
          <div ng-if="setup()" class="row">
            <div class="col-md-6">
              <p>Minimum number of rounds <input type="text" ng-model="game.rounds_min" ng-keyup="updateRounds()" style="width:40px;" size="3"></p>
            </div>
            <div class="col-md-6">
              <p>Maximum number of rounds <input type="text" ng-model="game.rounds_max" ng-keyup="updateRounds()" style="width:40px;" size="3"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                There are
                <span ng-if="game.rounds_min != game.rounds_max">
                  between <span class="badge">{{game.rounds_min}}</span> and
                </span>
                <span class="badge">{{game.rounds_max}}</span> rounds.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row bar">
      <div ng-if="setup()" class="btn-group pull-right">
        <button ng-click="abandon()" class="btn btn-warning">Abandon</button>
        <button ng-click="create()" class="btn btn-success" {{created ? 'disabled' : ''}}>
          {{created ? 'Creating Game...' : 'Create'}}
        </button>
      </div>
      <div ng-if="!setup()" class="btn-group pull-right">
        <button ng-click="leave()" class="btn btn-warning">Leave</button>
        <button ng-if="game.stage > 0" ng-click="begin()" class="btn btn-primary">Resume</button>
    </div>
  </div>
</div>

<div class="modal fade" id="invite-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Invite a Player to your Game</h4>
      </div>
      <div class="modal-body">
        <p>Invite a player from the list below:</p>
        <ul>
          <li ng-repeat="user in users" ng-if="canInvite(user)">
            <p>
              <span class="label" style="background-color: {{user.colour}};">{{user.name}}</span>
               - experience: <span class="badge">{{user.experience}}</span>
              <button ng-click="inviteUser(user)" class="btn btn-default btn-xs pull-right">Invite</button>
            </p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deck-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Choose a card deck for your Game</h4>
      </div>
      <div class="modal-body">
        <p>Choose a card deck:</p>
        <accordion>
          <accordion-group ng-repeat="deck in decks" heading="{{deck.name}} - {{deck.rating}}">
            <button ng-click='useDeck(deck)' class='btn btn-default'>Use</button>
            <ul>
              <li ng-repeat="card in deck.cards">
                <img ng-src="images/{{card.image}}" width="20">
                <strong>{{card.title}}</strong> -
                <span ng-bind-html="card.description"></span>
              </li>
            </ul>
          </accordion-group>
        </accordion>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
