<div class="bar bar-dark bar-top">
  <div class="pull-left">
    <img class="cow-icon pull-left" alt="Happy Cow icon" src="images/happycow.png" />
    <h2 class="title pull-left">Welcome</h2>
  </div>

  <ul class="list-inline pull-right">
    <li ng-repeat="menuItem in menu">
      <a class="btn btn-default" ng-href="{{menuItem.link}}">{{menuItem.title}}</a>
    </li>
  </ul>
</div>

<div id="welcome" ng-controller="WelcomeCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><a href="#/login">Log In</a> or <a href="#/login">Sign Up</a> to start playing.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"><img class="image image-full" ng-src="images/network_game.png"></div>
      <div class="col-md-6"><img class="image image-full" ng-src="images/crowd_game.png"></div>
    </div>
  </div>
</div>
