<div class="bar bar-dark bar-top">
  <div class="pull-left">
    <img class="cow-icon pull-left" alt="Happy Cow icon" src="images/happycow.png" />
    <h2 class="title pull-left">Welcome</h2>
  </div>

  <ul class="list-inline pull-right">
    <li ng-repeat="menuItem in menu">
      <a class="btn btn-default" ng-href="{{menuItem.link}}">{{menuItem.title}}</a>
    </li>
  </ul>
</div>

<div id="welcome" ng-controller="WelcomeCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="well">
            <h3>Networked Games</h3>
            <a href="#/login">
              <img class="image image-full" ng-src="images/network_game.png">
            </a>
            <p>Log In or Sign Up to play a game at your own machine, by yourself or with people at other machines.</p>
          </div>
      </div>
      <div class="col-md-6">
          <div class="well">
            <h3>Crowd Games</h3>
            <a href="#/games/group">
              <img class="image image-full" ng-src="images/crowd_game.png">
            </a>
            <p>Begin a game with people at this machine, you need to be registered first.</p>
          </div>
      </div>
    </div>
  </div>
</div>
