---
layout: post
title: Testing Results.
categories: [testing]
---

### Nathanael Smith


### Ben Latham
- Login page does not give appropriate feedback.
- Cow welfare marker not agriculturally correct.

### Shan Liew Burg
- Longer message now disapear too quickly.
- Register page did not work
- Colour picker for profile colour chooser
- Confusion as what to do.

### Mid-Project Demonstration sugestions
- More help, and simpler controls for the user
