<accordion close-others="true">
  <accordion-group heading="Score Table" is-open="true">
    <table class="table">
      <thead>
        <tr>
          <th>Players</th>
          <th>Score</th>
          <th>Number of Cards</th>
          <th>Number of Rations</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="game_user in game_users | orderBy:id">
          <td><span class="label label-default player-{{game_user.id}}">{{game_user.user.name}}</span></td>
          <td><span ng-repeat="record in round.round_records | filter:{name:'score', game_user_id:game_user.id}">{{record.value}}</span></td>
          <td><span ng-repeat="record in round.round_records | filter:{name:'cards', game_user_id:game_user.id}">{{record.value}}</span></td>
          <td><span ng-repeat="record in round.round_records | filter:{name:'rations', game_user_id:game_user.id}">{{record.value}}</span></td>
        </tr>
      </tbody>
    </table>
  </accordion-group>

  <accordion-group heading="Event Phase">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img class="image image-full" ng-src="images/{{round.event.image}}" alt="Event Image">
        </div>
        <div class="col-md-8">
          <h4 class="media-heading">{{round.event.title}} <span class="label label-default">{{round.event.category}}</span></h4>
          <div ng-bind-html="round.event.description"></div>
        </div>
      </div>
    </div>
  </accordion-group>

  <accordion-group heading="Cards Phase">
    <p ng-repeat="action in round.actions | filter:{phase:2}">
      <strong>{{action.title}}</strong>
      <span class="label label-default player-{{action.game_user_id}}">{{action.game_user.user.name}}</span>
      <span ng-bind-html="action.description"></span>
    </p>
  </accordion-group>

  <accordion-group heading="Movement Phase">
    <p ng-repeat="action in round.actions | filter:{phase:3}">
      <strong>{{action.title}}</strong>
      <span class="label label-default player-{{action.game_user_id}}">{{action.game_user.user.name}}</span>
      <span ng-bind-html="action.description"></span>
    </p>
  </accordion-group>
</accordion>
