#notices {
  position: fixed;
  top: 60px;
  right: 50px;
  width: 300px;
  z-index: 10000;
}

#section-main {
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  width:70%;

  overflow: hidden;
}

.bar-top .title {margin-top: 6px;}

#center-area .event, .cards, .review {
  padding: 20px;
}

#center-area .movement {
  margin-top: 0px;
  background-image: url('../images/grass-background.png');
  width: 100%;
  height: 100%;
  z-index: -2;
}

.review, .event {
  width: 90%;
  margin-left: 5%;
}

#game-board {
  position: fixed;
  top: 50px;
  left: 20px;
  padding: 20px;
  width: 1000px;
  z-index: -1;
}
#game-board-rumen {
  width: 280px;
  height: 210px;
  border-radius: 25px;
}

#board-controls {
  position: absolute;
  top: 60px;
  right: 5px;
}

#section-info {
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  width:30%;
  overflow-y: scroll;

  background-color: #222222;
  color: #999;
  padding: 10px;
  padding-top: 0px;
}

#section-info .h3 {
  margin-top: -10px;
}

#menu-right {margin-top: 10px;}

a.menu-button {
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  color: #fff;
}
a.menu-button {color: #fff;}
a.menu-button:history {text-decoration: none;}
a.menu-button:hover {
  background-color: #999;
}

.cow-icon {
  width: 50px;
}

#cards-list {
  height: 300px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}
#cards-list li {
  width: 200px;
  height: 300px;
  white-space: normal;
  margin-right: 10px;
  margin-left: 10px;
}

/* Turn Control */
.bar.bar-bottom .area {
  height: 50px;
  float:left;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 45%;
}

.bar.bar-bottom .area.area-out { opacity: 0.3; }

#card-carousel .carousel-control.left, .carousel-control.right { background-image: none;}

/* Menu Drop */
.dropdown-menu {
  padding: 10px !important;
}
.dropdown-menu-button {
  width: 100% !important;
  margin-top: 2px !important;
  height: 28px !important;
  color: #FFFFFF !important;
}

/* Bootstrap changes */
.clickable, .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
