<!DOCTYPE html>
<html>
<head>
  <title>Happycowgame</title>
  <script src="js/bower_components/angular/angular.js"></script>
  <script src="js/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="js/bower_components/angular-route/angular-route.min.js"></script>
  <script src="js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="js/bower_components/angular-modal-service/angular-modal-service.min.js"></script>
  <script src="js/bower_components/lodash/dist/lodash.js"></script>
  <script src="js/bower_components/restangular/src/restangular.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body ng-app="happyCow" ng-controller="GameCtrl">
<style ng-repeat="game_user in game.game_users">
  .player-{{game_user.id}} {

    background-color: #{{game_user.colour}};
  }
</style>
<%= yield %>

</body>
</html>
